set afterends
set atblanks
set autoindent
set constantshow
set fill 80
set guidestripe 80
set historylog
set minibar
set mouse
set nohelp
set positionlog
# set punct "，。；：？！～……（）【】『』、‘“《》"
# set matchbrackets "(<[{（【『‘“《)>]}）】』’”》"
# set wordbounds
set smarthome
set softwrap
set stateflags
set tabsize 2
set tabstospaces
set trimblanks
set zap
set linenumbers
set numbercolor lightgreen
set stripecolor ,cyan
# bindings
bind ^Z suspend all
bind M-0 zero main
# syntax
extendsyntax python linter ruff
extendsyntax python formatter ruff format
extendsyntax rust linter cargo run clippy
extendsyntax rust formatter rustfmt
extendsyntax sh linter shellcheck --shell=bash
extendsyntax sh formatter shfmt -i 2 -ci -bn -sr
extendsyntax javascript linter npx eslint --fix
extendsyntax javascript formatter npx prettier -w
extendsyntax html formatter npx prettier -w
extendsyntax css formatter npx prettier -w
extendsyntax json formatter npx prettier -w
extendsyntax yaml formatter npx prettier -w
extendsyntax markdown formatter npx prettier -w
extendsyntax c linter clang-tidy
extendsyntax c formatter clang-format
extendsyntax m linter clang-tidy
extendsyntax m formatter clang-format
extendsyntax go linter staticcheck
extendsyntax go formatter gofmt
extendsyntax lua formatter stylua
extendsyntax default formatter sed 's/\s*$//g'
