[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	usehttppath = true
[url "https://github.com"]
	insteadOf = gh:
	insteadOf = github:
[user]
	name = xingqingxyz
	email = cm.email@qq.com
[pull]
	rebase = false
[core]
	editor = \"C:\\Users\\cmema\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	symlinks = true
[mergetool]
	prompt = true
[credential]
	helper = 
	helper = manager
[http]
	sslbackend = openssl
[fetch]
	prune = false
[gui]
	recentrepo = C:/Users/cmema/p/shutils
[rerere]
	enabled = true
